<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title><%= title %></title>
</head>
<body>
    <%- include('navbar', {}) %>
    <h1>so, this is a story aboutism</h1>
    <p>in this project, we will be uploading files, and on this page we will be talking about it.</p>
    <p>the file uploader project is a good step forward establishing a strong foundation for building a web
        application based on node.js engine.
    </p>
    <ul>
        <label>things we will be practicing during the project</label>
        <li>setting up node.js engine</li>
        <li>a decent pile of packages, configurations for them</li>
        <li>sessions, logins, logout, database sessions, much more</li>
    </ul>
</body>
</html>