<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/style.css">
    <title><%= title %></title>
</head>
<body>
    <%- include('navbar', {}) %>
    <h1>Welcome to <%= title %></h1>
    <form action="/auth/register" method="post">
        <label for="username">User</label>
        <input type="text" name="username" id="username">
        <label for="password">password</label>
        <input type="password" name="password" id="password">
        <label for="confirm">confirm password</label>
        <input type="password" name="confirm" id="confirm">
        <button type="submit">Submit</button>
    </form>
</body>
</html>